{% load i18n menu_tags %}
{% get_available_languages as languages %}

<ul class="nav pull-left">
    {% for language in languages %}
    
    <li><a href="{% page_language_url language.0 %}"{% ifequal current_language language.0 %} class="current"{% endifequal %}><img src="{{ STATIC_URL }}/img/{{ language.0 }}.gif" alt="{{ language.1 }}" /> </a></li>

    {% comment %}
    {% language language.0 %}
        <li><a href="{% page_language_url language.0 %}"{% ifequal current_language language.0 %} class="current"{% endifequal %}>{{ language.1 }}</a></li>
    {% endlanguage %}
    {% endcomment %}
{% endfor %}
</ul>
